---
layout: page
refactor: false
---
<p>
My research interests focus on designing metamaterials and metasurfaces for a variety of photonics applications, like spectrometers, tunable color filters, and optical sensors for detecting molecular fingerprints. I enjoy working at the intersection of advanced deep learning techniques and computational electromagnetics to design and optimize these devices. I'm also interested in developing machine learning algorithms for solving inverse design problems in photonics. In addition, I’ve worked with metal-oxide semiconductors and explored their use in UV–visible photodetection.
</p>
<p>
Below you’ll find a list of my publications, reviews, and other research activities.
</p>
<P>
I hope you find my work interesting! Feel free to get in touch if you have any questions or would like to chat about any of these topics.
</P>

<h2> Publications </h2>

{% include publications.html %}

<h2>Reviews</h2>
